<!-- Display the question in a h1 title -->
<h1>{{ question.question_text }}</h1>

<!-- If no choice is selected and the "vote" button is pressed,
 display an error message on the page. -->
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- Create the vote form, redirecting to the results when form is sent -->
<form action="{% url 'polls:vote' question.id %}" method="post">
<!-- Prevent CSRF attack -->
{% csrf_token %}

<!-- For each choice of the current question ... -->
{% for choice in question.choice_set.all %}
    <!-- ... Display a radio button with the choice as label. -->
    <!-- Radio buttons allows only one answer per set. -->
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
