<!-- "load staticfiles" allows to load a custom css, right below -->
{% load staticfiles %}

<!-- using {% static 'polls/style.css' to give the path of the new stylesheet %} -->
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<!-- Check if there is at least one Question in the latest_question_list
 given from the views.py ... -->
{% if latest_question_list %}
    <ul>
    <!-- For each question in the list, display the question_text in a link refering to
     the details of this question (see detail.html) -->
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
<!-- ... Else, will display "No polls are available." on the page. -->
{% else %}
    <p>No polls are available.</p>
{% endif %}
