<!-- Set the question text as a h1 title -->
<h1>{{ question.question_text }}</h1>
<ul>
<!-- Create a list item for each choice with their amount of votes -->
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<!-- Add a link to go back to the question details with choices -->
<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
