/* Set all 'a' elements in 'li' elements to a green color. */
li a {
    color: green;
}

/* If a link is visited and is under a 'li' element, it will
 * be in a yellowgreen color.
 */
li a:visited {
    color: yellowgreen;
}

/* Change the body just for adding a random picture. */
body {
    /* Yes, I know, Sorry .. This is the only pic I have on my computer. */
    background: white url("images/250d729.gif") no-repeat right top;
}
